/* VARIABLES */

:root {
    --jumbo-color: #B4D0E7;
    --gray-paragraph: #6A7372;
    --designit-logo-color: #A2D39B;
    --designit-logo-border-color: #D1E9CD;
    --arizon-s-uni-color: #61082B;
    --florida-color: #0093CE;
    --topps-color: #FF1C1C;
    --world-bicycle-relief-color: #D5001F;
    --lonely-planet-color: #0D2481;
    --hearst-color: #B4D0E7;
    --clear-channel-color: #FFD830;
    --call-to-action-title: #642552;
    --button-color: #0061FF;
    --footer-hr-language-color: #505050;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 2000px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.buy-now {
    text-decoration: underline;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    padding: 0 10px;
    line-height: normal;
    color: white;
}

/* UTILITIES */

h2 {
    font-size: 2rem;
    font-weight: 500;
}

.paragraph {
    font-size: 0.8rem;
    font-weight: 200;
}

.flex {
    display: flex;
}

/* HEADER */
header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: white;
    z-index: 999;
}

header a {
    color: inherit;
    text-decoration: none;
}

.top-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dropbox-logo {
    transform: scale(.8);
}

.header-list {
    line-height: 70px;
    font-size: 0.8rem;
    display: flex;
    gap: 1rem;
}


/* MAIN */
/* jumbotron */
.jumbotron {
    padding-top: 7rem;
    background-color: var(--jumbo-color);
}

.jumbotron-content {
    padding-top: 2rem 0;
    display: flex;
}

.jumbo-paragraph {
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.delete {
    font-size: 0.8rem;
    margin-top: 2rem;
}

.arrow-down {
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.col-25 {
    width: 25%;
}

.free-trial {
    color: white;
    background-color: blue;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.col-75 {
    width: 75%;
    position: relative;
}

.jumbo-photo {
    width: 78%;
    position: absolute;
    top: 0;
    left: 0;
}

/* payment plan */
.payment-plan {
    margin-top: 7rem;

    /* debug */
    height: 1400px;
    border: 2px dashed black;
}

.payment-plan-grid {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    /* debug */
    border: 2px dashed black;
    height: 900px;
    margin-bottom: 150px;
}

.payment-col {
    width: calc(100%/3 - 2rem);
    border: 1px solid black;

    /* debug */
    height: 900px;
}

.line-list {
    display: inline;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.price {
    margin-bottom: 0.6rem;
}

.monthly {
    margin-bottom: 2rem;
}

.middle {
    margin: 0 1rem;
}

.who {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

ul.plans-list li {
    margin-top: 0.8rem;
}

ul.plans-list:last-child {
    margin-bottom: 1.2rem;
}

.one-column-grid {
    /* debug */
    height: 250px;
    background-color: yellow;
    border: 2px dashed black;
}

.gratis {
    text-align: center;
}

.image {
    /* debug */
    display: inline-block;
    width: 60%;
    height: 400px;
    background-color: chartreuse;
    border: 2px dashed black;
}

.paragraph1 {
    /* debug */
    display: inline-block;
    width: calc(40% - 5px);
    height: 400px;
    background-color: darkgreen;
    border: 2px dashed black;
}

.grid {
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* border: 2px dashed black; */
}

.business-title {
    padding-bottom: 1 rem;
}

.business-cards {
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.col {
    width: calc(100% / 3);
}

.users {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 20rem;

}

.users-title {
    margin-bottom: 2rem;
}

.universities {
    display: flex;
    width: 100%;
}

.universities-sections {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.divided {
    height: calc(100vw / 6);
    width: calc(100% / 2);
    position: relative;
}

.logos {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.designit {
    background-color: var(--designit-logo-color);
    border: 15px solid var(--designit-logo-border-color);
}

.asu {
    background-color: var(--arizon-s-uni-color);
}

.florida {
    background-color: var(--florida-color);
}

.topps {
    background-color: var(--topps-color);
}

.world-bicycle {
    background-color: var(--world-bicycle-relief-color);
}

.hearst {
    background-color: var(--hearst-color);
}

.lonely-planet {
    background-color: var(--lonely-planet-color);
}

.clear-channel {
    background-color: var(--clear-channel-color);
}

.sec-2 {
    height: calc(100vw / 3);
    padding: 1%;
    overflow-y: scroll;
}

.designit-logo {
    width: 40%;
}

.call-to-action {
    background-color: var(--jumbo-color);
    padding: 80px 0;
}

.call-to-action a {
    color: inherit;
    text-decoration: none;
}

.call-to-action-title {
    color: var(--call-to-action-title);
    /* debug */
    width: 50%;
}

.justify {
    align-items: center;
    justify-content: space-between;
}

.call-to-action-button {
    background-color: white;
    padding: 10px 20px;
}
.faq {
    padding: 4rem 0;
}
.qa {
    font-weight: 600;
    font-size: 0.8rem;
}

.question {
    position: relative;
}

.question-hr {
    margin: 2rem 0;
}

.angle-down {
    position: absolute;
    right: 30px;
    top: 40px;
}

/* FOOTER */
footer {
    height: 500px;
    color: white;

    /* debug */
    background-color: black;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-grid {
    display: flex;
    justify-content: space-between;

    /* debug */
    padding: 50px 0;
}

h3 {
    margin-bottom: 1.5rem;
}

ul.footer-menu li {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.columns {
    /* debug */
    width: calc(100% / 5);
}

.small-hr {
    border: 1px solid white;
    height: 1px;
    width: 7rem;
    margin-bottom: 2rem;
}

.language {
    color: var(--footer-hr-language-color);
    font-size: 0.8rem;
}