/* VARIABLES */

:root {
    --jumbo-color: #B4D0E7;
    --gray-paragraph: #6A7372;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 2000px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h2 {
    /* debug */
    height: 100px;
    border: 2px dashed black;
}

.buy-now {
    text-decoration: underline;
}

section {
    margin-bottom: 10px;
    border: 2px dashed black;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: white;
    z-index: 999;
}

.logo {
    width: 10%;
    position: relative;
}

.dropbox-logo {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explain {
    width: calc(20% + 45%);
    font-size: 0.8rem;
    align-items: center;
    margin-left: 20px;
}

.explain-list {
    display: flex;
    width: 30%;
}

ul.explain-list li {
    line-height: 70px;
}

.contacts-login {
    font-size: 0.8rem;
    width: 25%;
    display: flex;
}


.contacts-login-list {
    width: 100%;
}

ul.contacts-login-list li {
    align-items: center;
}

.begin {
    color: white;
    background-color: blue;
    padding: 5px 10px;
}

/* UTILITIES */

h2 {
    font-size: 2rem;
    font-weight: 500;
}

.paragraph {
    font-size: 0.8rem;
    font-weight: 200;
}

/* MAIN */
/* jumbotron */
.jumbotron {
    padding-top: 7rem;
    background-color: var(--jumbo-color);

    /* debug */
    border: 2px dashed black;
}

.jumbotron-content {
    padding-top: 2rem 0;
    display: flex;
}

.jumbo-paragraph {
    margin-bottom: 2rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    width: 65%;
    text-align: justify;
}

.delete {
    font-size: 0.8rem;
    margin-top: 2rem;
}

.arrow-down {
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.col-25 {
    width: 25%;
}

.free-trial {
    color: white;
    background-color: blue;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.col-75 {
    width: 75%;
    position: relative;
}

.jumbo-photo {
    width: 78%;
    position: absolute;
    top: 0;
    left: 0;
}

/* payment plan */
.payment-plan {
    margin-top: 7rem;

    /* debug */
    height: 1400px;
    border: 2px dashed black;
}

.payment-plan-grid {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    /* debug */
    border: 2px dashed black;
    height: 900px;
    margin-bottom: 150px;
}



.payment-col {
    width: calc(100%/3 - 2rem);
    border: 1px solid black;

    /* debug */
    height: 900px;
}

.line-list {
    display: inline;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.price {
    margin-bottom: 0.6rem;
}

.monthly {
    margin-bottom: 2rem;
}

.middle {
    margin: 0 1rem;
}

.who {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

ul.plans-list li {
    margin-top: 0.8rem;
}

ul.plans-list:last-child {
    margin-bottom: 1.2rem;
}

.one-column-grid {
    /* debug */
    height: 250px;
    background-color: yellow;
    border: 2px dashed black;
}

.gratis {
    text-align: center;
}

.image {
    /* debug */
    display: inline-block;
    width: 60%;
    height: 400px;
    background-color: chartreuse;
    border: 2px dashed black;
}

.paragraph1 {
    /* debug */
    display: inline-block;
    width: calc(40% - 5px);
    height: 400px;
    background-color: darkgreen;
    border: 2px dashed black;
}

.business {
    /* debug */
    height: 1000px;
    background-color: darkred;
    border: 2px dashed black;
}

.grid {
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    border: 2px dashed black;
}

.col {
    /* debug */
    width: calc(100% / 3 - 30px);
    margin: 10px;
    height: 350px;
    background-color: darksalmon;
    border: 2px dashed black;
}

.users {
    /* debug */
    height: 250px;
    width: 100%;
    background-color: darkgoldenrod;
    border: 2px dashed black;
}

.universities {
    display: flex;
    width: 100%;
    /* debug */
    border: 2px dashed black;
}

.universities-sections {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.divided {
    height: calc(100vw / 6);
    width: calc(100% / 2);
}

.d1 {
    background-color: magenta;
}

.d2 {
    background-color: gold;
}

.d3 {
    background-color: black;
}

.d4 {
    background-color: aqua;
}

.sec-2 {
    /* debug */
    background-color: darkseagreen;
}

.call-to-action {
    display: flex;
    /* debug */
    height: 300px;

}

.big-as-other-titles {
    /* debug */
    width: 50%;
    height: 300px;
    background-color: darkkhaki;
}

.button {
    /* debug */
    width: 50%;
    height: 300px;
    background-color: darkslategrey;
}

.faq {
    /* debug */
    height: 400px;
}

.qa {
    /* debug */
    background-color: firebrick;
    height: 300px;
}

/* FOOTER */
footer {
    height: 500px;
    color: white;

    /* debug */
    background-color: black;
}

.footer-grid {
    display: flex;

    /* debug */
    padding: 50px 0;
}

.columns {
    /* debug */
    height: 250px;
    background-color: pink;
    margin-right: 10px;
    width: calc(100% / 5);
}

.language {
    position: absolute;
    bottom: 0;
    left: 0;
    /* debug */
    height: 1.2rem;
    width: 70px;
    background-color: burlywood;
    padding: ;
}
